<!DOCTYPE html>
<html>
<title>postView.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container w3-light-grey" style="width:50%">
  <h2>Post Title</h2>

  <div class="w3-card-12-black w3-center" style="width:100%">
    <img src="img_file.jpg" style="width:100%"> 
    		<div class="w3-left w3-padding">Price</div>
    		<div class="w3-right w3-padding">Time</div>

    <div class="w3-container w3-left-align"></div>
    <button class="w3-btn w3-grey w3-left-align w3-hover-shadow">Message User</button>
    </div>
  </div>
</div>

</body>
</html>

