<!DOCTYPE html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<html>
  <style>
    html, body {
        height: 100%;

      }
      #map {
        height: 90%;
        top: 0;
      }
      #bar {
        height: 100%;
      }
      .bs-example{
        height: 10%;
      }
      #pac-input {
        margin-top: 3%;
      }
  </style>


<body>
 <div class="bs-example">
    <nav id = "bar" class="navbar navbar-default" role="navigation">

  <a class="navbar-brand" href="#"> DealNear</a>

    <ul class="nav navbar-nav navbar-left">
     
    <!--     <li><a href="#">Left</a></li>
        <li><a href="#about">Left</a></li> -->
      <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
          <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
      </div>
      </form>
  
    </ul>

  </div>
</nav>
</div> 


  
<div id="map"></div>

</body>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXgIDmoWXLjZDLWUaUI6Xl_9987AaJO_U&libraries=visualization,places&callback=initMap">
</script>

</html>
