<!DOCTYPE html>
<html>
<title>postCard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif} .w3-third img{margin-bottom:-6px;opacity:0.8;cursor:pointer} .w3-third img:hover{opacity:1}</style>

<body class="w3-light-grey w3-content" style="max-width:1000x">

<div class="w3-container w3-light-grey w3-border">
<div class="w3-card-2 w3-white">
	<img src="http://cdn.wallpapersafari.com/57/11/mAKw2j.jpg" class="w3-border w3-image" style="width:100%; height:500px;">
	<table style="width:100%"><tr><td align="left"><b>Post Title</td><td align="right">Date/Time</td></tr></table>
	<p><b>Price</b></p>
    <p>Comments:</p>	
    <button class="w3-margin w3-btn w3-border w3-light-grey w3-left-align w3-hover-shadow">Contact Owner</button>
</div>
</div>

</body>
</html>